body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.yo {
	background-color:#bbb;
	padding:10px;
}

#green {
	background-color:green;
	padding:10px;
}